mixin textovyEditor(data)
  -
    const hasGallery = data.galerie !== undefined;
    const layout = (data.nastaveni === undefined) || (data.nastaveni.layout === undefined) ? "" : data.nastaveni.layout

  .row.items.editors(class= hasGallery ? "with-submodule" : "")
    if (hasGallery)
      +gallery(data.galerie, layout)
      +editor-component(data.texty)
    else
      +editor-component(data.texty)

//-
mixin editor-component(editors)
  each editor, index in editors
    .editor-container
      - const id = "editor-" + ((editor.id) ? editor.id : index);
      - const className = (editor.class) ? editor.class : "";
      //- - const passive = "cteni";
      - const interactive = (editor.funkce !== "cteni") ? true : false;
      - const dataSave = (editor.funkce !== "cteni") ? "html" : false;
      - const contentEditable = (editor.funkce === "psani") ? "true" : false;

      .editor(id= id data-editor= interactive data-save= dataSave class= className)
        if (editor.funkce !== "cteni" && editor.funkce !== "psani" && (editor.menu !== false && editor.menu !== undefined))
          +editor-menu(editor.menu)
        if (editor.funkce === "psani" || (editor.toolbar !== false && editor.toolbar !== undefined))
          +editor-toolbar(editor.toolbar)

        //- https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Editable_content
        //- editor.contentEditable = true || false;
        //- https://pugjs.org/language/attributes.html#boolean-attributes
        //- true => "true"
        -
          let text = editor.content;

          if (editor.funkce === 'predznaceny') {
            editor.predznaceni.forEach((textOption, index) => {
              const data = Object.assign({ nazev: editor.nazev }, textOption);

              const expression = new RegExp(escapeRegExp(textOption.vyraz), 'i');
              text = text.replace(expression, `<span class="text-option" id="editor-${editor.id}-text-option-${index}" data-text-option='${JSON.stringify(data)}'>${textOption.vyraz}</span>`);
            });
          }

        .canvas(contenteditable= contentEditable) !{typeset(text)}

      if (editor.funkce !== "cteni")
        - let settings = editor;
        //- no need to have a content since it is in HTML
        //- if present it causes errors when parsing the JSON
        - settings.content = null;

        //- if (editor.funkce === "predznaceny")
        //-   - settings = editor.predznaceni;
        //- else
        //-   - settings = editor;
        //- TODO: store JSON options for editor.. can we remove it? eg:
        //- {
        //-   "id": 1,
        //-   "contentSrc": "2000-slov-text-vyrazy",
        //-   "content": "",
        //-   "editable": true,
        //-   "contentEditable": false,
        //-   "toolbar": false,
        //-   "class": "editor-only",
        //-   "textOptions": {
        //-     "enable": true
        //-   }
        //- }
        .module-settings.hidden(data-editor-id-reference= id data-module-settings= settings)

//-
mixin editor-menu(items)
  .contextual-menu-component(data-component="contextual-menu")
    a.close
    .menu
      each item in items
        //- TODO: data-command-name generovat z ID editoru + textoveho zneni polozky
        .menu-item(class= item.classes data-command-name= item.commandName data-command= item.command data-command-options= item.commandOptions) !{typeset(item.title)}

//-
mixin editor-toolbar(opts)
  .editor-toolbar
    button.editor-toolbar-item.editor-toolbar-action-reset(tabindex="-1")= t.editor.reset[lang]
