-
  const fullscreenToggledefaults = {
    type: 'default',
    tooltip: t.fullscreen.enlarge[lang],
  }

mixin fullscreenToggle(data = fullscreenToggledefaults)
  -
    //- Object spread does not work. Dont know why.
    //- const mergedData = { ...fullscreenToggledefaults, ...data}
    const mergedData = Object.assign({}, fullscreenToggledefaults, data)

  case mergedData.type
    when "video"
      button.fullscreen-toggle(aria-label="enter full screen" data-tooltip=mergedData.tooltip)
        svg.media-enterFullscreen-symbol(role="presentation" aria-hidden="false")
          use(xlink:href="#icon-fullscreen")
        svg.media-leaveFullscreen-symbol(role="presentation" aria-hidden="true")
          use(xlink:href="#icon-fullscreen")
    default
      button.fullscreen-toggle(
        data-fullscreen="toggle"
        data-fullscreen-image=(mergedData.image ? mergedData.image : false)
        data-tooltip=mergedData.tooltip
        tabindex="-1"
      )
        svg(xmlns="http://www.w3.org/2000/svg")
          use(xlink:href="#icon-fullscreen")

mixin fullscreen()
  .fullscreen.hidden#fullscreen(data-fullscreen="fullscreen")
    +fullscreenToggle({ tooltip: t._common.close[lang] })
    .fullscreen-container(data-fullscreen="container")
      //- chceme mít lupu k dispozici automaticky u všech obrázků?
      if cv.cviceni.funkce.indexOf("lupa") > -1
        img.fullscreen-image(src="" alt="" data-fullscreen="target" data-lupa-target="")
      else
        img.fullscreen-image(src="" alt="" data-fullscreen="target")
