extends ../../_partials/cviceni-layout.pug

prepend variables
  //- @value: name of JSON file
  - const cv = cviceniProcVzniklSkolniObraz;
  - const exhibition = false;

block title
  +cviceniMetaDescription(cv.cviceni.nazev, cv.cviceni.anotace ? cv.cviceni.anotace.verejna : cv.cviceni.popis, cv.cviceni.klicovaSlova)

block cviceni
  //- Use automatic generation based on JSON data (default, requires standard tools, layout, design and notation…)
  //- order is defined by JSON
  include ../../_partials/slides.pug

  //- Use manual notation in case of custom, experimental tools, layout, design and notation
  //- order is defined in PUG
  //-+slide(cv.slajd[0])
    +prameny(cv.slajd[0].prameny)
    +popiskyPramenu(cv.slajd[0].popisky)

  //-+slide(cv.slajd[1])
    +svg(cv.slajd[1].svg)
    +popiskyPramenu(cv.slajd[1].popisky)

  //-+slide(cv.slajd[2])
    +prameny(cv.slajd[2].prameny)
    +popiskyPramenu(cv.slajd[2].popisky)

  //-+slide(cv.slajd[3])
    +svg(cv.slajd[3].svg)

  //-+slide(cv.slajd[4])
    +uzivatelskyText(cv.slajd[4].uzivatelskyText)






